[Unit]
Description=Blue Observer Collector Service
After=dbus-org.bluez.service network.target autossh-blueobserver-web-tunnel.service

[Service]
Type=simple
#Salt used for hashing MAC addresses, needs to be the same across deployment
Environment=BLUE_COLLECTOR_HASH_SALT="put your hash salt here"
#Location Name, nice name for location where collector is installed
Environment=BLUE_COLLECTOR_LOCATION_NAME="name of location"
#Location GPS Coordinates, if not set, daemon will attempt to collect from USB-GPS, if present
Environment=BLUE_COLLECTOR_GEO_POINT="(lat, lon)"
Execstart=/opt/projects/blueobserver-collector/bin/python /opt/projects/blueobserver-collector/main.py

[Install]
WantedBy=multi-user.target
